{
	"arrowParens": "avoid",
	"singleQuote": false,
	"jsxSingleQuote": false,
	"tabWidth": 4,
	"trailingComma": "none",
	"semi": true,
	"proseWrap": "always",
	"printWidth": 100,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"]
}
